{% extends "blooddonor/base.html" %}
{% block content %}
   <div class="container">
       <div class="row justify-content-center">
           <div class="col-md-8 col-12 pt-5 pb-5">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <h2>Are you sure you want to delete the post "{{ object.title }}"?</h2>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">No, Let Me Cancel</a>
                        </div>
                    </form>
                </div>
           </div>
       </div>
   </div>

{% endblock content %}